body{color: white; background-color: black;}
h2{color: red}
h3{color: maroon; font-size: 24px; text-align: center;}
h4{color: black;}

.resume{
	text-align: left;
	background-color: white;
	color: black;
	border-style: solid;
	border-color: maroon;
	border-width: 4px;
	padding: 10px;
}

.wrap{
	margin: 0 auto;
	width: 75%;
}

.fpic{
	float: right;
}

.spic{
	border-style: dashed;
	float: left;
}